<div class='container'>
  <h2>Contacto</h2>
  <div id="textoContacto" #textosContacto>
    <p appResaltado>
    Esta es la página de contacto para toda duda o consulta
    </p>
  </div>


  <label for="name">Cambiar tamaño del slider:</label>
  <input type="number" name="" 
    [(ngModel)]="widthSlider" 
    (keyup.enter)="cargarSlider()" 
    (keyup)="resetSlider($event)"/>
  <hr>
  <div *ngIf="widthToSlider">
    <!-- Permite transmitir del padre al hijo una variable-->
    <app-slider 
      [anchoFotos]='widthToSlider'
      [paginas]='paginas'
      (publicAutor)='getAutor($event)'>
    </app-slider>
  </div>
  <div *ngIf="objectKeys(autor).length > 0">
    <span>{{autor.name + ' - ' + autor.website + ' - ' +autor.mail}}</span>
  </div>
  <div class="hack"></div>
</div>


