<div class="container" *ngIf="story">
<h2>{{title}}</h2>
<div *ngIf="status == 'OK'" class="message success">
    <img src="../../../assets/img/OK.png" alt="Succes" width="20" height="20">
    Se ha creado correctamente el relato.
    <br> 
    Puede<a [routerLink]="['/relato',idStory]" routerLinkActive="router-link-active">verlo aqui</a>
</div>
<div *ngIf="status == 'KO'" class="message failed">
    <img src="../../../assets/img/KO.png" alt="Error" width="20" height="20">
    ERROR al crear el relato: {{msjError}}
</div>
<form #storyForm='ngForm' (ngSubmit)='onSubmit(storyForm)'>
  <p>
    <label for="name">Nombre</label>
    <input type="text" name="name" placeholder="Nombre Relato" 
      required pattern="[A-Za-z0-9_ ]+"
      #name="ngModel" [(ngModel)]="story.name" >
  </p>
  <div *ngIf="name.touched && !name.valid" class="divInvalid">
    <img src="../../../assets/img/warning.png" alt="warning" width="21" height="21">El nombre del relato es obligatorio.
  </div>
  <p>
    <label for="description">Relato</label>
    <textarea name="description" id="" cols="30" rows="10" placeholder="Su relato"
      required
      #description="ngModel" [(ngModel)]="story.description" ></textarea>
  </p>
  <div *ngIf="description.touched && !description.valid" class='divInvalid'>
    <img src="../../../assets/img/warning.png" alt="warning" width="21" height="21">El relato es obligatorio.
  </div>
  <p>
    <label for="category">Categoria</label>
    <input type="text" name="category" placeholder="Tipo de relato" 
      required pattern="[A-Za-z0-9_ /]+"
      #category="ngModel" [(ngModel)]="story.category" >
  </p>
  <div *ngIf="category.touched && !category.valid" class='divInvalid'>
    <img src="../../../assets/img/warning.png" alt="warning" width="21" height="21">La categoria es obligatoria.
  </div>
  <p>
    <label for="year">Año publicación</label>
    <input type="number" name="year" placeholder="Año del relato" 
      required pattern="[0-9]+"
      #year="ngModel" [(ngModel)]="story.year" >
  </p>
  <div *ngIf="year.touched && !year.valid" class='divInvalid'>
      <img src="../../../assets/img/warning.png" alt="warning" width="21" height="21">El año de la publicación es obligatorio.
  </div>
  <p>
    <label for="image">Fotografia</label>
  </p>
  <div *ngIf="story.image" >
    <img src="{{url}}story/getimage/{{story.image}}" 
        width='250px'
        *ngIf="story.image 
        && (story.fileext == 'png' || story.fileext  == 'jpg' || story.fileext  == 'jpeg' || story.fileext  == 'gif')"/>
    <video controls 
        *ngIf="story.image 
        && (story.fileext == 'avi' || story.fileext  == 'mp4' || story.fileext  == 'mov' || story.fileext  == 'mkv')"
        width='250px'>
      <source src="{{url}}story/getimage/{{story.image}}" type="video/{{story.fileext}}"
      >
    </video>
  </div>
  <div class="uploader">
    <div class="input-value" 
      [ngClass]="(ruta=='')?'ng-invalid':'ng-valid'">{{ruta}}</div>
      <label for="file_1"></label>
      <input id="file_1" class="upload" type="file" name="image"
        #image="ngModel" [(ngModel)]="story.image"
        (change)="fileUpload($event)" 
        (ngModelChange)="filePath($event)" >
   </div>
  <div *ngIf="(clickFile == true && ruta =='') 
            || (ruta =='' && image.touched)" class='divInvalid'>
    <img src="../../../assets/img/warning.png" alt="warning" width="21" height="21">La fotografía del relato es obligatoria.
  </div>
<div class="input__row">
  <input class="submitbtn" type="submit" value="{{submitButtonName}}" [disabled]='!storyForm.form.valid'>
  <span class="form-arrow"></span>
</div>
</form>