
  @font-face 
    font-family: 'yanone'
    src: local('../fonts/yanone')
    src: url('../fonts/yanone.ttf') format('truetype')
  
  @font-face 
    font-family: 'finger'
    src: local('../fonts/finger') 
    src: url('../fonts/finger.ttf') format('truetype')

  *
    padding: 0px
    margin: 0px

  body
    font-family: yanone, Arial, Helvetica, sans-serif
    font-size: 20px
    background: url('../img/pattern.png')
    posti

  


