<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" routerLinkActive="router-link-active" >sobre-mi</a></li>
    <li><a [routerLink]="['/relatos']" routerLinkActive="router-link-active" >relatos</a></li>
    <li id="logo"><a href="#">DR</a></li>
    <li><a [routerLink]="['/crear-relato']" routerLinkActive="router-link-active" >crear relato</a></li>
    <li><a [routerLink]="['/contacto']" routerLinkActive="router-link-active" >contacto</a></li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
<footer>
  Denis Rocher - Fotógrafo &copy;
</footer>
